appdirs==1.4.4
asgiref==3.7.2
attrs==23.1.0
black==23.1a1
Click==8.1.6
Django==4.2.3
djangorestframework==3.14.0
entrypoints==0.4
flake8==6.0.0
mccabe==0.7.0
mypy==1.4.1
mypy-extensions==1.0.0
pycodestyle==2.10.0
pyflakes==3.0.1
pytz==2023.3
sqlparse==0.4.4
toml==0.10.2
typed-ast==1.5.5
typing-extensions==4.7.1
